/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$light-gray: #f1f1f1;

$body-background-color: #636363;
$foreground-color: #fff;
$additional-background-color:#ff6900;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;


//цвет текста
$font-color-main: #ffffff;
$font-color-main-inverse: #000000;

$font-color-second:#ff6900;

//задний фон с оттенком
$transparent-background-color:#00000040;

//прозрачный задний фон с серым оттенком
$transparent-background-block-color:rgba(38, 38, 38, 0.28);

/* Components */


